<footer>
        <div class="navbar" role="navigation">
          <div style="width: 98%; margin-left: auto; margin-right: auto;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class=""><a href="/about/">About Us</a></li>
                <li><a href="/music/">Music</a></li>
                <li><a href="/">Life</a></li>
                <li><a href="/shows/">Tickets</a></li>
                <li><a href="#merch">Merch</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
  </footer>