{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL artists #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base-1-column.html" %}

{# This sets our page <title>. It will append artists to the site title defined in base.html #}
{% block title %}{% parent %} - artists{% endblock %}

{% block content %}
<title>AllGood | Artists</title>
<script>
$('#artists').addClass('active');
</script>

  {# The first thing we do is call artists data from the CMS. #}
  {% set data = cms.artists %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', false) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 5) %}
<div class="container">
<!--   <div style="margin-top:25px; margin-bottom:25px; text-align:center;" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <h1>What We're About</h1>
    <p>{{about.manifesto}}</p>
    <br />
    <hr>
  </div> -->
  {# This forloop can use any data from http:localhost:2000/cms/#/form/artists/ #}

    {% for object in data %}
<!--       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
        <a href="{{ url(object) }}"><h1 style="margin-bottom:5px; display:inline-block; border-bottom:2px solid black;">{{ object.name }}</h1></a>
      </div> -->
    <div style="margin-bottom:20px;margin-top:30px;" class="row">
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <a href="{{ url(object) }}"><img class="img-responsive artist-image" src="{{ object.image|imageSize(800) }}" /></a>
        <p class="artist-quote"> "{{ object.description }}"</p>
      </div>
      <div class="artist-info-holder col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="vertical-center">
          <div>
            <a href="{{url(object)}}"><h1>{{object.name}}</h1></a>
          </div>

          <div class="music-button">
            <a style="width:100%" class="btn btn-primary" href="{{ url(object) }}">Listen</a>
          </div>

          <div class="social-buttons">
            <h4 style="margin-bottom:1em;">Follow {{object.name}}:</h4>
            <div style="text-align:center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a target="_blank" href="{{ object.facebook_page }}"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
            <div style="text-align:center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a target="_blank" href="http://twitter.com/{{ object.twitter_username }}"><i class="fa fa-twitter fa-lg"></i></a>
            </div>
            <div style="text-align:center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a target="_blank" href="http://instagram.com/{{ object.instagram_username }}"><i class="fa fa-instagram fa-lg"></i></a>
            </div>
            <div style="text-align:center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a target="_blank" href="{{ object.soundcloud_page }}"><i class="fa fa-soundcloud fa-lg"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div><!--row-->
    <hr>
    {% endfor %}


  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

</div><!--container-->


{% endblock %}
