{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL shows #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base-1-column.html" %}

{% block content %}
<title>Liberated | Shows</title>
<script>
$('#tickets').addClass('active');
</script>


  {# The first thing we do is call shows data from the CMS. #}
  {% set data = cms.shows %}

  {# Next we sort the data by show date (date_time). The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('date_time', false) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 35) %}
<section class="container">
  <h1>List of shows</h1>
    <div style="margin-top:20px; margin-bottom:20px;">
      <h4 style="position:relative; top:-9px; margin-right:10px; margin-top:0; margin-bottom:0; display:inline-block">Filter by Artist:</h4>
      <div style="display:inline-block" class="select-style">  
        <select id="show_artists" name="show_artists">
          <option value="" selected="selected">Select An Artist</option>
          <option value="all">All</option>
          <option value="griz">GRiZ</option>
          <option value="floozies">The Floozies</option>
          <option value="manic">Manic Focus</option>
        </select>
      </div>
    </div>
  {# This forloop can use any data from http:localhost:2000/cms/#/form/shows/ #}
  <div class="table-responsive">
    <table class="table show-table">




    {% for object in data %}
      {% for relation in object.artist %}
          <tr class="show-item">
            <td style="width:100px;"><img src="{{ relation.image|imageCrop(80) }}" /></td>
            <td style="width:100px;"><span style="font-size:1.1em; font-weight:500; text-transform:uppercase">{{ object.date_time|date('M' )}}</span> <br /> <span style="font-size:1.8em; font-weight:700;">{{ object.date_time|date('d' )}}</span> <br /> <span style="font-size:1.1em; font-weight:500;">{{ object.date_time|date('Y' )}}</span></td>
            <td style="padding-top:20px; font-size:1.8em; font-weight:700" class="show" data-artist="{{relation.name}}">{{ relation.name }}
            <!--<td>{{ object.date_time|date('g:i A') }}</td>-->
            <span style="font-size:15px; font-weight:500;"><br />
            <address>
              {%if object.location.city %}
                {{ object.location.city }}, {{ object.location.state }}
                {%else %}
                {{ object.location.street1 }}
              {% endif %}
            </address></span>
            </td>
            <td style="width:400px; font-size:15px; font-weight:500;">{{ object.name }}</td>
            <td style="width:150px;"><a class="btn btn-primary btn-lg" style="text-transform:uppercase;" target="_blank" href="{{ object.tickets_link }}">tickets</a></td>
          </tr>
            <!--<li class="show"data-artist="{{relation.name}}"><a href="{{ url(object) }}">{{ object.name }}</a></li>
         <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}-->
        {% endfor %}
    {% endfor %}
    </table>
</div>

</section>
  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}


<script>
$("#show_artists").change(function(){
  var display_artist = $(this).val();
  if (display_artist === "griz"){
    $('.show-table').removeClass('floozies-shows');
    $('.show-table').removeClass('manic-shows');
    $('.show-table').addClass('griz-shows');
  }
  else if (display_artist === "floozies"){
    $('.show-table').removeClass('manic-shows');
    $('.show-table').removeClass('griz-shows');
    $('.show-table').addClass('floozies-shows');
  }
  else if (display_artist === "manic"){
    $('.show-table').removeClass('floozies-shows');
    $('.show-table').removeClass('griz-shows');
    $('.show-table').addClass('manic-shows');
  }
  else if (display_artist === "all"){
    $('.show-table').removeClass('floozies-shows');
    $('.show-table').removeClass('griz-shows');
    $('.show-table').removeClass('manic-shows');
  }
});
</script>

  <script>
  $('.show').each(function () {
    var artist = $(this).data("artist");
    if(artist === "GRiZ"){
      $(this).parent().addClass("griz");
    }
    else if (artist === "The Floozies"){
      $(this).parent().addClass("floozies");
    }
    else if (artist === "Manic Focus"){
      $(this).parent().addClass("manic");
    }
  });
  </script>
  
{% endblock %}
