{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL music #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base-1-column.html" %}

{# This sets our page <title>. It will append music to the site title defined in base.html #}
{% block title %}{% parent %} - music{% endblock %}

{% block content %}
<title>Music | All Good Records</title>
<meta property="og:title"content="Music | All Good Records" />
<meta property="og:title"content="Located in the heart of Detroit, All Good Records is a soulful & creative label that curates and develops the spread of thoughtful artistry to the world." />
<script>
$('#music').addClass('active');
</script>
  {# The first thing we do is call music data from the CMS. #}
  {% set data = cms.music %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %} 
  <!--newest first-->

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 24) %}

  {# This forloop can use any data from http:localhost:2000/cms/#/form/music/ #}



<section class="music" id="music">

  <div class="container">
    {% set artists = cms.artists %}
    {% set artists = artists|sort('name', false) %} 
  <div style="padding-top:2em; padding-bottom:2em;">
    <h4 style="position:relative; top:-9px; margin-right:10px; margin-top:0; margin-bottom:0; display:inline-block">Filter by Artist:</h4>
    <div style="display:inline-block" class="select-style"> 
      <select id="sort_by_artist" name="sort_by">
        <option value="All">All</option>
        {% for artist in artists %}
        <option value="{{artist.name|replace(' ', '-', 'g')}}">{{artist.name}}</option>
        {%endfor %}
        <option value="other">Other</option>
      </select>
    </div>
  </div>
<section class="music-blocks">
    {% for object in data %}
  <div data-artist="{{object.artist_allgoodrecs_only.name|replace(' ', '-', 'g')}}"style="padding-left:5%; padding-right:5%; margin-bottom:50px;" class="music-block text-centered col-xs-12 col-sm-4 col-md-4 col-lg-4">
      {% if object.artist_allgoodrecs_only %}
          <div style="display:table;height:35px; width:100%; margin-bottom:5px;"><h5 style="display: table-cell; vertical-align:middle; "><a href="{{ url(object.artist_allgoodrecs_only) }}">{{ object.artist_allgoodrecs_only.name }}</a> - {{ object.name }}</h5></div>
      {% else %}
        <div style="display:table;height:35px; width:100%; margin-bottom:5px;"><h5 style="display: table-cell; vertical-align:middle; ">{{ object.soundcloud_url.author_name }} - {{ object.name }}</h5></div>
      {% endif %}            

    <div style="margin-bottom:2px; width:100%; height:250px; background-position:center; background-size:cover; background-image:url(' {{object.soundcloud_url.thumbnail_url}} ');">
      <a data-toggle="modal" data-target=".{{object.name|replace('\W', '-', 'g')}}" class="play-button {{object.name|replace(' ', '-', 'g')}}-button" href=""><div class="play-background"></div><i class="fa fa-play-circle fa-5x"></i></a>
    </div>
      <a style="border:1px solid #e42c40 !important;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition download btn" href="{{ object.download_link }}">Download</a>
      <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition support btn" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ETAULVA4MDH7S">Support</a>
  </div>



<div class="{{object.name|replace('\W', '-', 'g')}} modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {{object.soundcloud_url.html|safe}}
    </div>
  </div>
</div>

    {% endfor %}
</section>
    </div><!--container-->
</section>


<div class="container">
  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}
</div>


<script>
  $('.music-block').each(function () {
      var artist = $(this).data("artist");
      $(this).addClass(artist);   
  });

$("#sort_by_artist").change(function(){
  var artist_to_display = $(this).val();
  $('.music-blocks').attr('class','music-blocks');
  $('.music-blocks').addClass(artist_to_display);


  // var activeartist = $('#article-holder > section').attr('class');
  // var updatedType = activetype.replace("articles ", "");

  // $('#article_category').text(updatedType);



//go through each article block, hide if doesn't have a class that matches updatedType
  $('.music-block').each(function(){
    if ( artist_to_display === "All"){
      $(this).css("display","block");
    }
    else if( $(this).hasClass(artist_to_display) ){
      $(this).css("display","block");
    }
    else{
      $(this).css("display","none");
    }

  });
});

</script>
{% endblock %}

