{% extends "templates/partials/base-1-column.html" %}

{% block content %}
<title>Liberated | About</title>
<script>
$('#about-us').addClass('active');
</script>
<section class="about">
    <div style="margin-top:25px; margin-bottom:25px; text-align:center;" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <h1>What We're About</h1>
    <p>{{about.manifesto}}</p>
    <br />
    <hr>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <a href="{{ url(object) }}"><h1 style="margin-bottom:5px; display:inline-block; border-bottom:2px solid black;">{{ object.name }}</h1></a>
  </div>
</section>
{% endblock %}