{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL articles #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

<title>Blog | AllGood Records</title>

{% block content %}
<script>
$('#blog').addClass('active');
</script>


  {# The first thing we do is call articles data from the CMS. #}
  {% set data = cms.articles %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 10) %}


  {% set categories = get('categories') %}

  {% set categories = categories|exclude('name', 'Other') %}

  {% set categories = categories|sort("order", false) %}


<div style="margin-bottom:20px;" class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div style="top: -2px; position: relative; font-size: 12px;width:150px; display:inline-block" class="select-style">  
      <select id="sort_by" name="sort_by">
        <option value="All" selected="selected">Sort By...</option>
        <option value="All">All</option>
        {% for category in categories|where('categorize_by','Type of content')%}
          <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
        <option value="Other">Other</option>
          <option value="All">--</option>
        {% for category in categories|where('categorize_by','City')%}
          <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3 style="text-align:center"><span style="text-transform:capitalize;" id="article_category">All</span> Posts</h3>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <!-- <form>
      <input style="float:right; width:80%; height: 31px; top: -2px; position: relative; outline: none;" type="text" id="st-search-input" class="st-search-input">
    </form> -->
  </div>


</div>
  {# This forloop can use any data from http:localhost:2000/cms/#/form/articles/ #}
<span id="article-holder">
<section class="articles">
    {% for object in data %}
      <div data-multicategory="{% for category in object.category%}{{category.name}} {% endfor %}" style="margin-bottom:50px;" class="blog-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p style="">{{ object.publish_date|date('M d Y') }}</p>
        <h1 style="margin-bottom:10px;">{{object.name}}</h1>     
          <div data-href="{{ url(object) }}" class="clickable blog-image" style="background-image:url('{{object.image.url}}')">
            <div class="title">
              <!-- <h1>{{object.name}}</h1> -->
              <a class="view-post" href="{{ url(object) }}">View Post &rarr;</a>
            </div>
          </div>       
      </div>
    {% endfor %}
</section>
</span>

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

<script>
$('.clickable').click(function(){
  window.location = $(this).data("href");
  return false;
});

$('.clickable').hover(function(){
    $('.view-post').css("text-decoration","underline");
    $('.view-post').css("opacity", "0.85");
  }, function() {
    $('.view-post').css("text-decoration","none");
    $('.view-post').css("opacity", "1");
  }
);

$('.blog-image').hover(function(){
    $( this ).find('.title').css("padding-bottom","1.5em");
  }, function() {
    $( this ).find('.title').css("padding-bottom","1em");
  }
);
</script>

<script>
// var options = [];
// $('#sort_by option').each(function() {
//     options.push({ "id" : this.value, "text" : this.textContent });
// });
$("#sort_by").change(function(){
  var type_to_display = $(this).val();
  $('.articles').attr('class','articles');
  $('.articles').addClass(type_to_display);

  var activetype = $('#article-holder > section').attr('class');
  var updatedType = activetype.replace("articles ", "");

  $('#article_category').text(updatedType);


//go through each article block, hide if doesn't have a class that matches updatedType
  $('.blog-block').each(function(){
    if ( updatedType === "All"){
      $(this).css("display","block");
    }
    else if( $(this).hasClass(updatedType) ){
      $(this).css("display","block");
    }
    else{
      $(this).css("display","none");
    }

  });
});

    //add category data from webhook as a class
  $('.blog-block').each(function () {
      var multicategory = $(this).data("multicategory");
      $(this).addClass(multicategory);   
  });
</script>
{% endblock %}