{% extends "templates/partials/base-1-column.html" %}

{% block content %}

<section class="music" id="music">

  <div class="container">
  <!--<p class="description text-centered">Located in the heart of Detroit City, Liberated Music is a soulful, creative, and organic record label that curates and develops the spread of thoughtful artistry to the world. We are family that reps old school motown soul, future funk, new disco, cutting edge electronica, and anything on the forefront of new sound. Keep it burnin.</p>

  <hr />-->
  <br /><br />

  <div class="text-centered col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h4>GRiZ</h4>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12408917&amp;auto_play=false&amp;hide_related=false&amp;download=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition download btn btn-lg" href="http://app.topspin.net/store/artist/24212?src=fb&awesm=t.opsp.in_h1cVO&wId=213324&w=300&h=250&theme=black&highlightColor=0x00A1FF">Download</a>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition support btn btn-lg" href="#">Support</a>
  </div>

  <div class="text-centered col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h4>Manic Focus</h4>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/13905745&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition download btn btn-lg" href="http://app.topspin.net/store/artist/24212?src=fb&awesm=t.opsp.in_h1cVO&wId=213324&w=300&h=250&theme=black&highlightColor=e42c40">Download</a>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition support btn btn-lg" href="#">Support</a>
  </div>

  <div class="text-centered col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h4>The Floozies</h4>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/13905745&amp;auto_play=false&amp;hide_related=false&amp;download=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition download btn btn-lg" href="http://app.topspin.net/store/artist/24212?src=fb&awesm=t.opsp.in_h1cVO&wId=213324&w=300&h=250&theme=black&highlightColor=0x00A1FF">Download</a>
    <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 transition support btn btn-lg" href="#">Support</a>
  </div>

</div>
</section>

{% endblock %}
